@tailwind base;
@tailwind components;
@tailwind utilities;

.social {
  @apply flex gap-7 text-gray-800;
}
.MuiSvgIcon-root {
  width: 1.7rem !important;
  height: 1.7rem !important;
}
.gradient {
  background: rgb(21, 80, 110);
  background: linear-gradient(
    0deg,
    rgba(21, 80, 110, 0.9360119047619048) 0%,
    rgba(100, 155, 198, 1) 100%
  );
}
.gradient:hover {
  background: rgb(9, 59, 84);
  background: linear-gradient(
    0deg,
    rgba(9, 59, 84, 0.9360119047619048) 0%,
    rgba(100, 152, 194, 1) 100%
  );
}
